# dependencies & builds
node_modules
dist
dist-ssr

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# tooling caches
.turbo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
.eslintcache
coverage
*.tsbuildinfo
.npm
.pnpm-store
.cache
